html, body {
    height: 100%;
    margin: 0;
}

.container-fluid {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-card {
    margin-top: 30px; /* Reducir el margen superior para subir la tarjeta */
    width: 100%;
    max-width: 600px;
    background-color: white;
    /* Remove box-shadow and border to avoid card appearance */
    box-shadow: none;
    border: none;
    padding: 2rem;
}

.custom-card h1.text-center {
    margin-bottom: 5px;
}

/* Colocar la línea justo debajo del mensaje de bienvenida */
.custom-card .line {
    width: 100%;
    height: 1px;
    margin-top: 5px; /* Reducir el margen superior de la línea */
    border: 1px #696969 solid;
}



.btn-custom {
    font-size: 1.25rem; 
    padding: 0.75rem 1.5rem; 
}

.btn-custom:hover {
    background-color: #007bff; 
    border-color: #007bff;
}

.sidebar {
    background-color: #d3d4d6;
    padding-top: 20px;
    margin-top: 20px;
    width: 50px;
    margin-right: 20px;
}

.sidebar a {
    display: block;
    color: black;
    padding: 10px 20px;
    text-align: left;
    text-decoration: none;
    font-size: 1.25rem;
    border: 1px solid #bfc0c2;
    border-radius: 5px;
    margin-bottom: 5px;
    height: 70px;
}

.sidebar a:hover {
    background-color: #007bff;
    color: white;
}

.line {
    width: 100%;
    height: 1px;
    margin-top: 20px;
    border: 1px #696969 solid;
}

/*===== NAVEGACIÓN VERTICAL =====*/

/* Cambia el color del enlace al pasar el cursor sobre él */

.form-group {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.footer {
    background-color: rgb(24, 24, 150);
    color: white;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 70px;
}

#footerContainer {
    background-color: #f8f9fa;
}

