html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.container {
    flex-grow: 1;
}


/*===== HEADER =====*/
/* Estilo de fondo azul para el encabezado con padding */
.bg-blue {
    background-color: #001660;
    padding: 20px;
}

/* Centra y muestra la imagen del encabezado */
.header-image img {
    display: block;
    margin: 0 auto;
}

/* Texto del encabezado con color blanco, centrado y flex-grow */
.header-text {
    flex-grow: 1;
    color: #FFFFFF;
    text-align: center;
}

/* Margen y fuente para los párrafos y encabezados en el texto del encabezado */
.header-text p,
.header-text h2,
.header-text h3 {
    margin: 3px;
    font-family: Arial, sans-serif;
}

/*===== FOOTER =====*/
/* Estilo de fondo con degradado y color blanco para el texto del pie de página */
.bg-custom-footer {
    background: linear-gradient(90deg, #000000 20%, #3a5a96 80%);
    color: white;
    padding: 10px 0;
}

/* Enlaces en el pie de página con color blanco y sin subrayado */
.bg-custom-footer a {
    color: white;
    text-decoration: none;
}

/* Cambia el color del enlace al pasar el cursor sobre él */
.bg-custom-footer a:hover {
    color: #cccccc;
}

/* Contenedor del pie de página fijado en la parte inferior de la página */
#footerContainer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
}


/* Centra el contenido en la sección 'síguenos' del pie de página */
.follow-us {
    justify-content: center;
}

/* Ajusta la altura y el margen de las imágenes en la sección 'síguenos' */
.follow-us img {
    height: 60px;
    margin-right: 10px;
}
.follow-us img:hover {
    transform: scale(1.1);
}
/*===== NAVBAR =====*/
/* Estilo para el enlace activo de la barra de navegación */
.nav-link.active {
    background-color: #001660;
    color: white !important;
}

/*===== Contenido (body) =====*/
/* Contenedor con margen inferior */


/* Estilo para el carrusel */
/* Espacio entre el carrusel y el texto/imagen */
.carousel {
    margin-right: 20px;
}

/* Estilo para el texto e imágenes del lado derecho */
.col-lg-6 {
    padding: 20px;
}

/* Estilo adicional para las imágenes si es necesario */
.col-lg-6 img {
    max-width: 100%;
    height: auto;
}

/* sombra con desplazamiento en Y de 4px y difuminación de 6px */
nav {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
}


.btn-custom {
    position: relative;
    overflow: hidden;
    height: 3rem;
    padding: 0 2rem;
    border-radius: 25x;
    background: #3b28e6;
    color: #000000;
    border: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
/* Espacio entre el icono y el texto */
.btn-custom .btn-icon {
    margin-right: 0.5rem;
}
/* Animacion */
.btn-custom:hover::before {
    transform: scaleX(1);
}


/*===== NAVEGACIÓN VERTICAL =====*/
/* Estilo para la barra de navegación vertical */
.vertical-nav {
    padding: 0;
    background-color: #F6F6F6;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
}

/* Estilo para los enlaces en la navegación vertical */
.vertical-nav a {
    display: block;
    color: #000000;
    padding: 8px 16px;
    text-decoration: none;
}

/* Cambia el color del enlace al pasar el cursor sobre él */
/*===== NAVEGACIÓN VERTICAL =====*/

/* Cambia el color del enlace al pasar el cursor sobre él */
.vertical-nav a:hover {
    background-color: #0066ff;
    color: white;
}

/* Quitar el borde azul de las listas */
.vertical-nav a {
    border: none; /* Esto quita cualquier borde de los enlaces en la navegación vertical */
}

/* Cambia el color del enlace al pasar el cursor sobre él */
li a:hover {
    background-color: #41538F;
    color: white;
}

/*===== Estilo card dinamicas =====*/
/* style.css */
.card {
    background-color: #ECEFF1;
}

.card div:hover{
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #FFFFFF;
}
.card a{
background-color: #204C87;
}
.card a:hover{
    background-color: #001D7D;
}
.center-btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.menu{
    height: 50px;
    justify-content: center;
    background-color: #DEE0E5;
    
}

.footer {
    background-color: rgb(24, 24, 150);
    color: white;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 70px;
}