<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
    <link rel="stylesheet" href="./../Assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="./../Assets/css/styles.css">
</head>
<body>
    <header class="bg-blue py-3">
        <div class="container">
            <div class="row g-0 text-center d-flex justify-content-center align-items-center">
                <div class="col-12 col-md-2 order-md-1 mb-md-0">
                    <div class="header-image">
                        <img src="./Assets/img/LogoUAEMBlanco.png" alt="UAEM - Universidad - Morelos" class="img-fluid">
                    </div>
                </div>
                <div class="col-12 col-md-8 order-md-2">
                    <div class="header-text text-center">
                        <h2 class="mb-4">Universidad Autónoma del Estado de Morelos</h2>
                        <h3 class="mb-2">Secretaría Académica</h3>
                        <h3 class="mb-0">Dirección General de Educación Superior</h3>
                    </div>
                </div>
                <div class="col-12 col-md-2 order-md-3">
                    <div class="header-image">
                        <img src="./Assets/img/TextoLogoUAEMBlanco.png" alt="UAEM" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </header>

    <script src="./../Assets/js/bootstrap.bundle.min.js"></script>
</body>
</html>
